.list {

}

.tagStyle0 {
    background-color: #3399ff88;
}
.tagStyle1 {
    background-color: #ff993388;
}
.tagStyle2 {
    background-color: #ff446688;
}
.tagStyle3 {
    background-color: #228b2288;
}
.tagStyle4 {
    background-color: #9932cc88;
}
.tagStyle5 {
    background-color: #FFD70088;
}
.tagStyle6 {
    background-color: #d54e1d88;
}
.tagStyle7 {
    background-color: #3f7a7a88;
}
