:root {
    --tagBorderSize: 99999px;
}

.list {
    padding-top: 20px;
}

.tagStyle0 {
    background-color: #3399ff88;
}
.tagStyle1 {
    background-color: #ff993388;
}
.tagStyle2 {
    background-color: #ff446688;
}
.tagStyle3 {
    background-color: #228b2288;
}
.tagStyle4 {
    background-color: #9932cc88;
}
.tagStyle5 {
    background-color: #FFD70088;
}
.tagStyle6 {
    background-color: #d54e1d88;
}
.tagStyle7 {
    background-color: #3f7a7a88;
}

.draggableTags {
    display: flex;
    margin-bottom: 20px;
}

.draggableTag {
    width: fit-content;
    padding: 1px 5px;
    margin-right: 5px;
    border: solid thin transparent;
    border-radius: var(--tagBorderSize);
    transition-duration: .15s;
}

.tagEnabled {
    border: solid thin black;
}

.tagDisabled {
    opacity: 50%;
}

.isDragging {
    /*opacity: .5;*/
}

.tagList {
    display: flex;
}

.tagListItem {
    width: fit-content;
    padding: 1px 5px;
    border-radius: var(--tagBorderSize);
    margin-right: 5px;
    font-size: smaller;
    & :first-child {
        padding-left: 10px;
    }
}
