.list {

}

.listItem {
    display: flex;
    align-items: center;
    width: fit-content;
}

.table {
    display: table;
}

.tableBody {
    display: table-row-group;
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
    padding: 4pt;
    transition-duration: .25s;
}

.today {
    background-color: #0004;
}

.weekend {
    background-color: #0001;
}

.isDragging {
    opacity: .5;
}

.isOver {
    background-color: yellow;
}

.isChecked {
}

.isChecked input {
    text-decoration: line-through;
    opacity: 50%;
}

.tableRow input {
    border: thin solid transparent;
}

.meal {
    display: flex;
}

.addItem {
    margin-left: var(--min-control-size)
}

.title {
    display: flex;
    align-items: center;
}
