.list {

}

.table {
    display: table;
}

.tableBody {
    display: table-row-group;
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
    padding: 4pt;
    transition-duration: .25s;
}

.today {
    background-color: #0004;
}

.weekend {
    background-color: #0001;
}

.isDragging {
    opacity: .5;
}

.isOver {
    background-color: yellow;
}

.isChecked {
}

.isChecked .editableItem {
    text-decoration: line-through;
}
