.list {
    padding-top: 10px;
}

.listItem {
    display: flex;
    padding-bottom: 3px;
}

.isDragging {
    /*opacity: .5;*/
}

.isOver {
    background-color: yellow;
}

.isChecked {
}

.isChecked input {
    text-decoration: line-through;
    opacity: 50%;
}
