.list {

}

.listItem {
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
}

.itemTags {
    display: flex;
}

.itemTag {
    width: fit-content;
    padding: 1px 5px;
    border-radius: 10px;
    margin-right: 5px;
    font-size: smaller;
}

.itemTag :first-child {
    padding-left: 10px;
}

.isDragging {
    /*opacity: .5;*/
}

.isOver {
    background-color: yellow;
}