.list {
    margin-top: 10px;
    padding-bottom: calc(1.5* var(--page-padding));
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.listItem {
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

.reference {
    font-style: italic;
}