@import url("../../common/common-vars.css");

.appModePicker {
    background-color: #ccc;
    padding-top: var(--page-padding);
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    &:last-child {
        margin-right: 0;
    }
}

.appModeControl {
    background-color: #ddd;
    padding: 3px 10px;
    margin-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.appModeControl svg {
    padding-right: 5px;
}

.appModeControl.enabled {
    background-color: var(--page-color);
}