:root {
    --outer-page-color: #555;
    --page-color: white;
    --page-padding: 20px;
    --page-width: 100%;
}


/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
    :root {
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
    :root {
        --page-width: 48em;
    }
}
