.addItem {
    background-color: transparent;
    border: thin solid;
}

.editableItem {
    border: none;
    background-color: transparent;
}

.suggestionMenu {
    background-color: white;
    border: solid thin black;
    overflow-y:auto;
    overflow-x:hidden;
    max-height:150px;
    position: fixed;
    box-shadow: 0 3px 5px 3px #0004;
}

.suggestionItem {
    cursor: pointer;
    padding: 5px 3px;
}