@import url("./common-vars.css");

html * {
    overscroll-behavior: none;
}

.addItem {
    background-color: transparent;
    border: thin solid;
}

.editableItem {
    border: none;
    background-color: transparent;
}

.suggestionMenu {
    background-color: white;
    border: solid thin black;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 150px;
    position: fixed;
    box-shadow: 0 3px 5px 3px #0004;
}

.suggestionItem {
    cursor: pointer;
    padding: 5px 3px;
}

.outerPage {
    background-color: var(--outer-page-color);
    width: 100vw;
    height: 100vh;
}

.page {
    background-color: var(--page-color);
    margin: 0 calc((100vw - var(--page-width)) / 2);
    width: var(--page-width);
    height: 100vh;
}

.innerPage {
    margin: var(--page-padding) 0;
    padding: 0 var(--page-padding);
    height: calc(100% - 40px - 50px);
    overscroll-behavior-y: contain;
    overflow-y: auto;
    overflow-x: hidden;
}

.dialog {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

.dialogBackground {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 40%;
    background-color: #000;
}

.dialogForeground {
    position: fixed;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    z-index: 2;
    background-color: white;
    padding: var(--page-padding);
    border: solid thin black;
    box-shadow: 0 3px 5px 3px #0004;
    overflow-y: auto;
    overflow-x: hidden;
}

